@model IEnumerable<SalonPrograAvanzadaWeb.Entities.CitaEnt>

@{
    ViewData["Title"] = "LeerCitas";
}

<div class="container">
    <h1>Leer Citas</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Nombre del Cliente</th>
                    <th>Ubicación</th>
                    <th>Fecha de la Cita</th>
                    <th>Estilista</th>
                    <th>ID del Servicio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.IdCita)</td>
                        <td>@Html.DisplayFor(modelItem => item.NombreCliente)</td>
                        <td>@Html.DisplayFor(modelItem => item.Ubicacion)</td>
                        <td>@Html.DisplayFor(modelItem => item.FechaCita)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estilista)</td>
                        <td>@Html.DisplayFor(modelItem => item.IdServicio)</td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("Edit", "Citas", new { id = item.IdCita })">Editar</a>
                            <a class="btn btn-secondary" href="@Url.Action("Details", "Citas", new { id = item.IdCita })">Detalles</a>
                            <a class="btn btn-danger" href="@Url.Action("Delete", "Citas", new { id = item.IdCita })">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
