@model SalonPrograAvanzadaWeb.Entities.ServiciosEnt

@{
    ViewData["Title"] = "ActualizarServicio";
}

<h1>Actualizar Servicio</h1>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="card card-secondary" style="margin-top:2%">
            <div class="card-header">
                <h3 class="card-title">Actualización de Servicio</h3>
            </div>

            @using (Html.BeginForm("ActualizarServicio", "Servicios", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.IdServicio)

                <div class="card-body">
                    @Html.LabelFor(x => x.TituloServicio)
                    @Html.TextBoxFor(x => x.TituloServicio, new
                        {
                            @class = "form-control",
                            @placeholder = "Ingrese el título del servicio",
                            @required = "true"
                        })
                    <br>

                    @Html.LabelFor(x => x.Descripcion)
                    @Html.TextBoxFor(x => x.Descripcion, new
                        {
                            @class = "form-control",
                            @placeholder = "Describa el servicio",
                            @required = "true"
                        })
                    <br>

                    @Html.LabelFor(x => x.Costo)
                    @Html.TextBoxFor(x => x.Costo, new
                        {
                            @class = "form-control",
                            @placeholder = "Costo del servicio",
                            @required = "true"
                        })
                    <br>

                    @Html.LabelFor(x => x.UrlImagen)
                    @Html.TextBoxFor(x => x.UrlImagen, new
                        {
                            @class = "form-control",
                            @placeholder = "URL de la imagen del servicio",
                            @required = "true"
                        })
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
